In [11]:
%sql 
select current_metastore() metastore

DataFrame[metastore: string]

In [1]:
%sql
show catalogs;

DataFrame[catalog: string]

In [ ]:
%sql 
use catalog citibike_dev;

drop volume if exists source_citibike_data;

drop schema if exists 00_landing;
drop schema if exists 01_bronze;

drop schema if exists 02_silver;
drop schema if exists 03_gold;

DataFrame[]

In [ ]:
%sql
drop catalog if exists citibike_dev

AnalysisException: [RequestId=297033bb-c239-4a58-9c25-2c05518fb6e7 ErrorClass=CATALOG_NOT_EMPTY] Catalog 'citibikes_dev' is not empty

In [3]:
%sql
use catalog citibikes_dev;

DataFrame[]

In [4]:
%sql 
create schema if not exists 00_landing;
create schema if not exists 01_bronze;
create schema if not exists 02_silver;
create schema if not exists 03_gold;

DataFrame[]

In [5]:
%sql 
show schemas

DataFrame[databaseName: string]

In [12]:
%sql 
use schema 00_landing

DataFrame[]

In [13]:
%sql 

create volume if not exists source_citibike_data;

DataFrame[]

In [16]:
%sql 
show volumes

DataFrame[database: string, volume_name: string]

In [1]:
-- %sql
-- -- Example: copy files from cloud storage into a managed volume
-- -- Replace <volume_name>, <cloud-uri>, and file format/options as appropriate.
-- COPY INTO VOLUME citibikes_dev.00_landing.source_citibike_data
-- FROM 'abfss://metastore@hudsonjwhdbricksmetastor.dfs.core.windows.net/metastorepath/citibikes/csv_data/citibike-tripdata.csv'
-- FILEFORMAT = 'csv'   -- or 'csv'
-- FORMAT_OPTIONS ('header'='true', 'inferSchema'='true')  -- for CSV

SyntaxError: invalid decimal literal (177749021.py, line 4)