In [2]:
%sql 
select current_metastore() metastore

DataFrame[metastore: string]

In [3]:
%sql
show catalogs;

DataFrame[catalog: string]

In [ ]:
%sql
create catalog if not exists citibike_test

DataFrame[]

In [ ]:
%sql
use catalog citibike_test;

DataFrame[]

In [6]:
%sql 
create schema if not exists 00_landing;
create schema if not exists 01_bronze;
create schema if not exists 02_silver;
create schema if not exists 03_gold;

DataFrame[]

In [7]:
%sql 
show schemas

DataFrame[databaseName: string]

In [8]:
%sql 
use schema 00_landing

DataFrame[]

In [9]:
%sql 

create volume if not exists source_citibike_data;

DataFrame[]

In [10]:
%sql 
show volumes

DataFrame[database: string, volume_name: string]

In [11]:
-- %sql
-- -- Example: copy files from cloud storage into a managed volume
-- -- Replace <volume_name>, <cloud-uri>, and file format/options as appropriate.
-- COPY INTO VOLUME citibikes_dev.00_landing.source_citibike_data
-- FROM 'abfss://metastore@hudsonjwhdbricksmetastor.dfs.core.windows.net/metastorepath/citibikes/csv_data/citibike-tripdata.csv'
-- FILEFORMAT = 'csv'   -- or 'csv'
-- FORMAT_OPTIONS ('header'='true', 'inferSchema'='true')  -- for CSV

SyntaxError: invalid decimal literal (177749021.py, line 4)